win/tmp/
win/bin/cef_temp/
win/bin/resources/themes/default/backup/
*.user
win/setup/Niuniu_NSIS_SetupSkin/FilesToInstall/
*.pdb
*.exp
*.ilk
*.exe
win/bin/cim_core.lib
win/bin/cim_core.dll
win/bin/cim_base.lib
win/.vs/
win/cim/cim_core_unit_test/cmake-build-debug/
win/cim/core/cmake-build-debug/
win/cim/core/.idea/
win/cim/cim_core_unit_test/.idea/
win/bin/libprotobuf-lited.dll
win/bin/glog.dll
win/bin/gflags_debug.dll
win/bin/fmtd.dll
win/bin/event.dll
win/bin/chatkit.lib
